// Main Site Footer Information

footer.footer-contentinfo {
	@include grid-row();
	padding-top: emCalc(15px);
	margin-top: emCalc(15px);
	border-top:emCalc(1px) solid lighten($foreground, 80%);
	.site-info {
		@include grid-column(12);
		text-align:center;
	}
	.footer-logo {
		min-height: emCalc(100px);
		a {
			width:100%;
			max-width:100px;
			margin:0 auto;
			display:block;
		}
	}
	.footer-byline {
		font-size: emCalc(14px);
	}
}