$minor-font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;

$background: #ffffff;
$foreground: #222222;
$highlight: #2795b6;

// Defining an equal weight
$footer-font-weight:100;